
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<h3>register</h3>
<form>
    <p>Name<input type="text" name="UserName" /></p>
    <p>Account<input type="text" name="Account" /></p>
    <p>Password<input type="password" name="Password" /></p>
    <p>Introduce yourself<br /><textarea name="Message" rows="5" cols="20">My interest is ....</textarea></p>
    <p>Submit  <input type="submit" name="Submit" />   Clear  <input type="reset" name="Clear" /></p>
    
</form>
